/* media query styles here */
/* for mobile  x-small*/
@media screen and (max-width:576px) {

    nav,
    .nav-list-items,
    .banner-container,
    .online-container,
    .play-section
    {
        flex-direction: column;
        align-items: center;
    }

    nav {
        height: 13rem;
        margin-bottom: 3rem;
    }

    .nav-list-items {
        gap: 1rem;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    body{
        width: 50%;
    }
    .banner-left-side{
        margin-top: 50px;
        width: 190%;
        text-align: center;
    }
    .banner-right-side > img{
        margin-top: 2rem;
    }
    .online-game-container{
        flex-direction: row;
    }
    .game-para{
        margin-top: 100px;
    }
    .play-text > h3 , .online-h3{
        text-align: center;
        margin: -70px;
    }
    .play-text > p{
        padding-top: 100px;
        margin: -80px;
        text-align: center;
    }
    .play-img > img{
        width: 305px;
    }
    .kitty-picture > img {
        width: 135px;
         
    }
    .kitty-picture{
        bottom: 120px;
    }
    .game-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    footer{
        margin-top: 70px;
        padding: 80px;
        margin: 0px -172px;
    }
}


/* for tablet large */
@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    .nav-list-items {
        flex-direction: column;
    }

    nav {
        height: 15rem;
    }
    .game-img{
        width: 160px;
    }
    .banner-container{
        gap: 3%;
    }
    .banner-right-side > img{
        width: 320px;
    }
    .play-img > img {
        width: 380px;
    }
    .play-text > h3{
        margin: -100px;
    }
    .play-text > p{
        margin-top: 120px;
    }
}