/*first section css*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
   font-family: 'lato', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    background-color: azure;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0px -8rem;
    
}

.logo-container{
            
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
}

.game-sec{
        color: deeppink;
        
}

.nav-about {
    display: flex;
}

.nav-list-items {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

ul>li {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}


.follow-btn{
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
    
}
.fa-youtube,
.fa-tiktok {
    width: 10px;
    font-size: 25px;
}

.span-gap {
    padding: 15px;
}

.banner-title1{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.banner-title2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.93rem;
    font-weight: 800;
}
.banner-description{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: pointer;
}

.primary-btn{
    color: navajowhite;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 40px;
    background-color: rgb(199, 12, 206);
    border-radius: 48px;
    border: none;
}
.primary-btn:hover{
    transition: 0.5s;
    box-shadow: 3px 3px 3px gray;
}
.rouge{
    color: navajowhite;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 40px;
    background-color: rgb(33, 17, 255);
    border-radius: 48px;
    border: none;
}
.primary-btn:hover{
    transition: 0.5s;
    box-shadow: 3px 3px 3px gray;
}
.rouge:hover{
    transition: 0.5s;
    box-shadow: 3px 3px 3px gray;
}
.banner-content{
    background-repeat: no-repeat;
    width: 40%;
    padding-top: 8rem;
    padding-left: 12rem;
}
.banner-img{
    height: 100%;
}
.banner-container{
    display: flex;
    gap: 4.25rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/*banner css ends here*/
/* game section */
.gamer-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.gamer-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-content{
    max-width: 540px;
    text-align: right;
}
.gamer-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1.4rem 0rem;
}
.gamer-description-2{
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0rem;
}
.gamer-title-2{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}
/*main section*/
main{
    width: 80%;
    margin: 120px auto;
}
/*online section*/

.online-games {
    padding: 38px 100px;
}

.online-games-top-text {
    text-align: center;
}

.online-games-title {
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 700;
    color: #0B0223;
}

.online-games-shadow {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-videos-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 20px;
}

.hover-box:hover {
    text-align: center;
    cursor: pointer;
}

.online-game-description {
    margin-bottom: 48px;
}
/* over flow  */
.watch {
    position: absolute;
    margin-top: 173px;
    margin-left: -190px;
    font-size: 18px;
    font-weight: bold;
    color: #FF42A5;
}

.hover-box:hover .watch {
    visibility: visible;
}
.video-box1 {
    position: relative;
    border-radius: 20px;
}

.overflow {
    position: absolute;
    top: 0px;
    left: -1px;
    right: 0;
    bottom: 74px;
    text-align: center;
    background-color: #000000;
    opacity: .6;
    visibility: hidden;
    border-radius: 20px;
}

.icons {
    color: white;
    margin-bottom: 10px;
    position: absolute;
    top: 101px;
    left: 86px;
}

.content-icon {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 155px;
    left: 60px;
}

.video-box1:hover .overflow {
    visibility: visible;
    cursor: pointer;

}

/*play section*/
.play-section{
    margin-top: 100px;
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: space-between;
}
.play-text > h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 125%;
    text-align: right;
}
.play-text > p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 166.66%;
    text-align: right;
}
.play-img > img{
    width: 465px;
    
}
.kitty-picture > img{
    width: 170px;
}
.kitty-picture{
    position: relative;
    bottom: 150px;
    right: 50px
}
/*icon name section*/
.game-list{
  
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50px;
  padding: 20px;
    
}
.section-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .section-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
.list{
  border-radius: 50px;
  background: #f5ecec;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.list img {
    width: 30px;
  }
  
  .list p {
    color: #0b0223;
    font-size: 15px;
    font-weight: 600;
  }

.list:hover{
    transition: 0.5s;
    color: navy;
    border-radius: 30px ;
    border: 1px solid tomato;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}
/*footer*/
footer {
    background-color: black;
    padding: 10px;
    margin: 0 -130px;
    margin-top: 70px;
  }
  .footer-container {
    min-height: 50px;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 20px;
  }
  
  .footer-logo {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  }
  
  .footer-logo img {
    width: 40px;
    object-fit: contain;
  }
  
  .footer-logo p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  
  .footer-title {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 40px 0;
  }
  
  .footer-title p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  
  .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: #fff;
  }
  
  .footer-container h6 {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }